@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    /* background-image: url('assets/board-102.jpg'); */
    /* background-repeat: repeat; */
    /* background-size: 1500px; */
    background-color: black;
    overscroll-behavior: none;
}

/* Font Face */

@font-face {
    font-family: 'JimCasual';
    src: url('./assets/fonts/JimCasual-02.woff2') format('woff2'),
         url('./assets/fonts/JimCasual-02.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.jim-casual {
    font-family: "JimCasual", serif;
    font-weight: 200;
    font-style: italic;
}

/* Google Fonts */

.marker {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

.chakra {
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: normal;
}

/* Noto */

i {
  font-family: "Noto Emoji", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}